<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>

<!--<div class="col-lg-6">-->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Card Details</h4>
  </div><!--end card-header-->
  <div class="card-body">
    <div class="general-label">
      <div class="mb-3 row">
        <label for="horizontalInput1" class="col-sm-2 form-label align-self-center mb-lg-0">Card Number</label>
        <div class="col-sm-10">
          <input type="text" name="card[number]" class="form-control" id="card_number" placeholder="1234 1234 1234 1234 " required="required" >
        </div>
      </div>

      <div class="mb-3 row">
        <label for="horizontalInput2" class="col-sm-2 form-label align-self-center mb-lg-0">Card Expiry Date</label>
        <div class="col-sm-10">
          <input type="text" name="card[exp-date]"  class="form-control" id="exp_date" placeholder="MM/YY" required="required">
        </div>
      </div>


      <div class="mb-3 row">
        <label for="horizontalInput2" class="col-sm-2 form-label align-self-center mb-lg-0">CVC</label>
        <div class="col-sm-10">
          <input type="text" name="card[cvc]" class="form-control" id="cvc" placeholder="CVC" required="required" >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="horizontalInput2" class="col-sm-2 form-label align-self-center mb-lg-0">Zip Code</label>
        <div class="col-sm-10">
          <input type="text" name="card[postal]" class="form-control" id="postal" placeholder="Zip Code" >
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 ms-auto">
          <button type="submit" id="add_stripe_card_btn" class="btn btn-primary">Add Card</button>
        </div>
      </div>
    </div>
  </div><!--end card-body-->
</div><!--end card-->
<!--</div>-->
<!--end col-->

<script type="text/javascript" charset="utf-8">

    $(document).on('click','#add_stripe_card_btn',function (e) {
        e.preventDefault();
        var key = "<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>";
        var date = $('#exp_date').val().split("/");
        Stripe.setPublishableKey(key);
        Stripe.card.createToken({
            number: $('#card_number').val(),
            cvc: $('#cvc').val(),
            exp_month: date[0],
            exp_year: date[1],
            address_zip: $('#postal').val()
        }, stripeResponseHandler);
    });

    function stripeResponseHandler(status, response) {
        // Grab the form:
        var $form = $('#add_stripe_card');

        if (response.error) { // Problem!

            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false); // Re-enable submission

        } else { // Token was created!
            // Get the token ID:
            var token = response.id;
            $('#card_token').val(token);

            // Insert the token into the form so it gets submitted to the server:
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));

            // Submit the form:

            $form.get(0).submit();
        }
    }

</script>