<div class="container m-top pt-5" style="width: 43rem;">
  <div class="pb-3">
      <div id="card-element"></div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
        var key = "<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>";
        var stripe = Stripe(key);
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
            base: {
                color: '#303238',
                fontSize: '16px',
                fontFamily: '"Open Sans", sans-serif',
                fontSmoothing: 'antialiased',
                '::placeholder': {
                    color: '#CFD7DF',
                },
            },
            invalid: {
                color: '#e5424d',
                ':focus': {
                    color: '#303238',
                },
            },
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        var form = document.getElementById('add_stripe_card');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    $("#card_token").val(result.token.id);
                    form.submit();
                }
            });
        });
</script>

