<div class="container m-top pt-5" style="width: 43rem;">
  <div class="pb-3">
    <div id="error_div"></div>
    <br>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <h2>Payment Method</h2>

    <%= form_tag add_stripe_card_dashboards_path, :method => :post, :id => 'add_stripe_card' do %>

      <%= render "dashboards/credit_card_fields" %>

      <%= hidden_field(:card, :token) %>
    <% end %>
  </div>
</div>