<div id="container-fastlink">
  <div style="text-align: center;" class="selection">

    <%= hidden_field_tag :field_name, "#{ENV["YODLEE_ACCOUNT_TOKEN"]}", :id => 'field_name' %>
<!--    <input type="submit" id="btn-fastlink" class="btn btn-dark py-2 px-5 font-16 mt-3" value="Link an Account">-->
    <select id="btn-fastlink" class="btn btn-dark py-2 font-16 mt-3">
      <option value="personal" class="btn btn-dark py-2 font-16 mt-3">Personal</option>
      <option value="business" class="btn btn-dark py-2 font-16 mt-3">Business</option>
    </select>

  </div>
</div>

<script>
    $(document).on('turbolinks:load', function() {
    var yodlee_account_token = $('#field_name').val();
    var url = "<%= ENV["FAST_LINK_KEY"] %>";
    (function (window) {
        //Open FastLink
        var fastlinkBtn = document.getElementById('btn-fastlink');
        fastlinkBtn.addEventListener(
            'click',
            function() {

                window.fastlink.open({
                        fastLinkURL: url,
                        accessToken: 'Bearer '+yodlee_account_token,
                        params: {
                            configName : 'Aggregation'
                        },
                        onSuccess: function (data) {
                            // will be called on success. For list of possible message, refer to onSuccess(data) Method.
                            console.log(data);
                        },
                        onError: function (data) {
                            // will be called on error. For list of possible message, refer to onError(data) Method.
                            console.log(data);
                        },
                        onClose: function (data) {
                            var account_detail = Object.values(data)
                            var accountType =document.getElementById("btn-fastlink").value;
                            if ( account_detail[2].length !== 0  ){
                            $.ajax({
                                type: "post",
                                url: "/dashboards/get_bank_account",
                                data: {dataArray: account_detail[2], account_type: accountType}
                            });
                                }
                            },
                        onEvent: function (data) {
                            // will be called on intermittent status update.
                            console.log(data);
                        }
                    },
                    'container-fastlink');
            },
            false);
        $( ".selection" ).click(function() {
            $( ".selection" ).hide();
        });
    }(window));
    });
</script>
