<!-- Top Bar Start -->
<div class="topbar">
  <!-- Navbar -->
  <nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-end mb-0">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="javascript:;"
           role="button" aria-haspopup="false" aria-expanded="false">
          <span class="ms-1 nav-user-name hidden-sm"><%= current_user.first_name if current_user.present? %></span>
          <%= image_tag "users/user-5.jpg", alt:"profile-user", class:"rounded-circle thumb-xs" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="javascript:;"><i data-feather="user"
                                                          class="align-self-center icon-xs icon-dual me-1"></i> Account</a>
          <a class="dropdown-item" href="javascript:;"><i data-feather="credit-card"
                                                          class="align-self-center icon-xs icon-dual me-1"></i> Billing</a>
          <div class="dropdown-divider mb-0"></div>
          <%=link_to destroy_user_session_path, class: "dropdown-item", :method => :delete do %>
            <i data-feather="power"
               class="align-self-center icon-xs icon-dual me-1"></i> Logout
          <% end %>
        </div>
      </li>
    </ul>
    <!--end topbar-nav-->
  </nav>
  <!-- end navbar-->
</div>
<!-- Top Bar End -->