<!-- Left Sidenav -->
<div class="left-sidenav">
  <!-- LOGO -->
  <div class="brand">
    <a href="index.html" class="logo">

    </a>
  </div>
  <!--end logo-->
  <div class="menu-content h-100" data-simplebar>
    <ul class="metismenu left-sidenav-menu">
      <li class="menu-label mt-0">Main</li>
      <li>
        <a href="<%= root_path %>"> <i data-feather="home"
                                           class="align-self-center menu-icon"></i><span>Dashboard</span><span class="menu-arrow"><i
          class="mdi mdi-chevron-right"></i></span></a>
      </li>
      <li>
        <a href="<%= transactions_path %>"><i data-feather="grid"
                                          class="align-self-center menu-icon"></i><span></span>Transactions<span class="menu-arrow"><i
          class="mdi mdi-chevron-right"></i></span></a>
      </li>
      <li>
        <a href="<%= accounts_path %>"> <i data-feather="credit-card"
                                           class="align-self-center menu-icon"></i><span>Accounts</span><span class="menu-arrow"><i
          class="mdi mdi-chevron-right"></i></span></a>
      </li>
      <li>
        <a href="<%= files_dashboards_path %>"><i data-feather="file"
                                                          class="align-self-center menu-icon"></i><span>Files</span><span class="menu-arrow"><i
          class="mdi mdi-chevron-right"></i></span></a>
      </li>
      <li>
        <a href="#"><i data-feather="clipboard"
                                                  class="align-self-center menu-icon"></i><span>Reports</span><span class="menu-arrow"><i
          class="mdi mdi-chevron-right"></i></span></a>
      </li>
    </ul>
  </div>
</div>
<!-- end left-sidenav-->
